body {
    min-height: 100%;
    padding-top: 60px;
}

.bellAguinaldo{
    color: red;
    font-size: 1.6em;
}

.aguinaldo{
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li:hover{
    background-color: #d4d4d4
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: window;
}
.modal {
  padding-top: 60px!important;
}
.navbar-default {
    background-color: green;
    color: white;
    border-color: green;
}
.panel-heading
{
    background-color:#ffff00;
    font-family: 'Nimbus Sans L';
    font-weight: normal;
    font-style: normal;
}
.navbar-font-color {
    color: red;
}
#ntext{
    color: red;
}
.ocutar{
    display: none;
}
.glyphicon2 {
    font-size: 1.4em;
}
a:hover {
text-decoration: underline;
color: #DD127B;

}
.notification{
    color: #D14;
}
.nav .navbar-nav li a:hover {
    color: grey !important;
}
