{% extends('layout/layout.php')%}
{% block scripthead %}
<!--scripts from head here-->
{% endblock %}
{% block panel %}

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading text-center fa-lg" style="font-family: Arial;"><strong>Cotações</strong></div>
            <div class="panel-body">
                <form id = "formCadastro">

                    <div class="row">
                        <div class="col-md-6">
                            <a href="/cotacoes/managecotacoes" name="btnCadastrar" id="btnCadastrar" class="btn btn-success fa-lg "><span class="fa fa-plus"></span> Novo</a>
                        </div>
                        <div class="col-md-6">
                            <input id="nome" type="text" class="form-control" name="nome" maxlength="50"  placeholder="Pesquisa" autofocus>
                        </div>
                    </div>
                </form>  
                <div class="table-responsive">
                    <table id="table" class="table table-sm table-striped table-condensed table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr style="background-color: #CCCCCC">
                                <th class="text-center">Cod.</th>
                                <th class="text-center">Data</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Encerra</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                        </tr>
                        <tr>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                        </tr>
                        <tr>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>
{% endblock %}
{% block scripts%}
<!--scripts after body here-->
{% endblock %}
