{% extends('layout/layout.php')%}
{% block scripthead %}
<!--scripts from head here-->
<script>
    
</script>
{% endblock %}
{% block panel %}

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading text-center fa-lg" style="font-family: Arial;"><strong>Cotações</strong></div>
            <div class="panel-body">
                <div class="fa-lg">
                    <div  style="display: none;"  id="adicionarCotacao" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
                        <div class="modal-dialog" >
                            <div class="modal-content ">
                                <div class="modal-header text-center label-success">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Cotação</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="formNovaCotacao" class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div id="verirydataabertura" class="col-md-6">
                                                <label for="dataabertura" class="control-label">Data de abertura</label>
                                                <input id="dataabertura" type="date" name="dataabertura" class="form-control datepicker" placeholder="dd/mm/aaaa" maxlength="10" required autofocus>
                                                <span class="help-block">
                                                    <strong id="errodataabertura"></strong>
                                                </span>
                                            </div>
                                            <div id="verifyhoraabertura" class="col-md-6">
                                                <label for="horaabertura" class="control-label">Hora da abertura</label>
                                                <input id="horaabertura" type="time" class="form-control" name="horaabertura"
                                                       value="" autofocus>
                                                <span class="help-block">
                                                    <strong id="errohoraabertura"></strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="panel panel-info">
                                            <div class="panel-heading text-center " style="font-family: sans-serif;"><strong>Encerramento automático, opcional</strong></div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div id="verifydataencerramento" class="col-md-6">
                                                        <label for="dataencerramento" class="control-label">Data de encerramento</label>
                                                        <input id="dataencerramento" type="text" class="form-control" name="dataencerramento"
                                                               value="" autofocus>
                                                        <span class="help-block">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                    <div id="verifyhoraencerramento" class="col-md-6">
                                                        <label for="horaencerramento" class="control-label">Hora do encerramento</label>
                                                        <input id="horaencerramento" type="text" class="form-control" name="horaencerramento"
                                                               value="" autofocus>
                                                        <span class="help-block">
                                                            <strong id="errohoraencerramento"></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer label-success">
                                    <button id="btnSalvarCotacao" type="button" class="btn btn-primary" style="font-size: 1.0em; width: 100pt"><i class="fa fa-save"></i> Salvar</button>
                                    <button id="btnCancelarCotacao" type="button" class="btn btn-default" style="font-size: 1.0em; width: 100pt" data-dismiss="modal"><i class="fa fa-window-close"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <form id = "formCadastro">

                    <div class="row">
                        <div class="col-md-6">
                            <a href="/cotacoes/managecotacoes" name="btnCadastrar" id="btnCadastrar" class="btn btn-success fa-lg "><span class="fa fa-plus"></span> Nova cotação</a>
                            <!--<button type="button" name="btnCadastrar" id="btnCadastrar" data-toggle="modal" data-target="#adicionarCotacao" class="btn btn-success fa-lg "><span class="fa fa-plus"></span> Nova cotação</button>-->
                        </div>
                        <div class="col-md-6">
                            <input id="pesquisa" type="text" class="form-control datepicker" name="pesquisa" maxlength="50"  placeholder="Pesquisa" autofocus>
                        </div>
                    </div>
                </form>  
                <div class="table-responsive">
                    <table id="table" class="table table-sm table-striped table-condensed table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr style="background-color: #CCCCCC">
                                <th class="text-center">Cod.</th>
                                <th class="text-center">Data</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Encerra</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                        </tr>
                        <tr>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                        </tr>
                        <tr>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                            <td>Oi</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>
{% endblock %}
{% block scripts%}
<!--scripts after body here-->
<script src="/js/jquery.mask.min.js" type="text/javascript"></script>
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#dataabertura").datepicker({
            format: "dd/mm/yyyy",
        }).mask('00/00/0000', {clearIfNotMatch: true});
//        $("#horaabertura").mask("00:00",{ "placeholder": "hh/mm" });
        var maskBehavior = function (val) {
        val = val.split(":");
        return (parseInt(val[0]) > 19)? "HZ:M0" : "H0:M0";
    }

    spOptions = {
        onKeyPress: function(val, e, field, options) {
            field.mask(maskBehavior.apply({}, arguments), options);
        },
        translation: {
            'H': { pattern: /[0-2]/, optional: false },
            'Z': { pattern: /[0-3]/, optional: false },
            'M': { pattern: /[0-5]/, optional: false}
        }
    };

    $('#horaabertura').mask(maskBehavior, spOptions);
    });
</script>
{% endblock %}
