{% extends('layout/layout.php')%}
{% block scripthead %}
<!--scripts from head here-->
{% endblock %}
{% block panel %}

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading text-center fa-lg" style="font-family: Arial;"><strong>Área do administrador</strong></div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts%}
<!--scripts after body here-->
{% endblock %}
