<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Produtos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link href="/css/demo.css" rel="stylesheet" type="text/css"/>-->
        <link href="/css/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!--<link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>-->
        <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/editor.dataTables.min.css" rel="stylesheet" type="text/css"/>
        <!-- Custom Theme files -->
        <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <meta name="keywords" content="EFOREA Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </head>
    <body>
        
    </body>

</html>