{% extends('layout/layout.php')%}
{% block scripthead %}
<!--scripts from head here-->
{% endblock %}
{% block panel %}

<div class="container">
    <div class="row">
        <div id="quadro1" style="display: none">
            <div class="panel panel-primary">
                <div class="panel-heading text-center fa-lg" style="font-family: Arial;"><strong>Adicionar item manual</strong></div>
                <div class="panel-body">

                    <form id="frmCadastro" class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="produto">Produto/Descrição</label>
                            <input type="text" class="form-control" id="produto" placeholder="Produto/Descrição"  name="produto">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="remember"> Remember me</label>
                        </div>
                        <button type="button" class="btn btn-primary"> Salvar</button>
                        <button type="button" class="btn btn-primary"> Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
            <div id="quadro2">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center fa-lg" style="font-family: Arial;"><strong>Gerenciar cotação</strong></div>
                    <div class="panel-body">
                        <div class="row">
                            <form id="frm" class="form-inline">
                                <div class="col-md-2">
                                    <div class="row" style="padding-left: 15px;"> <label for="btnCadastrar" class="control-label">Inserção manual</label></div>
                                    <button type="button"  name="btnCadastrar" id="btnCadastrar" class="btn btn-success fa-lg "><span class="fa fa-plus"></span> Adicionar</button>
                                </div>
                                <div class="col-md-2">
                                    <div class="row" style="padding-left: 15px"><label for="name" class="control-label">Importar xls, csv, txt</label></div>

                                    <button type="button"  name="btnImportar" id="btnImportar" class="btn btn-primary fa-lg "><span class="fa fa-file"></span> Importar</button>
                                    <!--<button type="button"  name="btnCadastrar" id="btnCadastrar" class="btn btn-info fa-lg "><span class="fa fa-file"></span></button>-->
                                    <!--                            <button type="button"  name="btnCadastrar" id="btnCadastrar" class="btn btn-default fa-lg "><span class="fa fa-file-excel-o"></span></button>
                                                                <button type="button"  name="btnCadastrar" id="btnCadastrar" class="btn btn-warning fa-lg "><span class="fa fa-file-pdf-o"></span></button>                            -->

                                </div>
                            </form>
                        </div>

                        <div class="table-responsive">
                            <table id="table" class="table  table-sm table-striped table-condensed table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr style="background-color: #CCCCCC">
                                        <th class="text-center">Produto/Descrição</th>
                                        <th class="text-center">Marca/Modelo</th>
                                        <th class="text-center">Qtde</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>Oi</td>
                                    <td>Oi</td>
                                    <td>Oi</td>
                                    <td>Oi</td>
                                </tr>
                                <tr>
                                    <td>Oi</td>
                                    <td>Oi</td>
                                    <td>Oi</td>
                                    <td>Oi</td>
                                </tr>
                                <tr>
                                    <td>Oi</td>
                                    <td>Oi</td>
                                    <td>Oi</td>
                                    <td>Oi</td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts%}
    <!--scripts after body here-->
    <script src="/js/jquery.mask.min.js" type="text/javascript"></script>
    <script src="/js/managecotacoes.js" type="text/javascript"></script>
    {% endblock %}
