<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Produtos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link href="/css/demo.css" rel="stylesheet" type="text/css"/>-->
        <link href="/css/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!--<link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>-->
        <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/editor.dataTables.min.css" rel="stylesheet" type="text/css"/>
        <!-- Custom Theme files -->
        <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <meta name="keywords" content="EFOREA Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </head>
    <body>

        <div class="container">
            <div class="header-top">Meus sociais
                <div class="social-icons">
                    <i class="icon2">oi</i>
                    <i class="twitter"></i>
                    <i class="googlepluse"></i>
                <!--</div>Id passado: {{id}}</div>-->
            </div>    
            <a class="editor_create">Create new record</a>
            <div class="table-responsive">
                <table id="example" class="table table-sm table-striped table-condensed table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr style="background-color: #CCCCCC">
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Start date</th>
                            <th style="width: 50px">Salary</th>
                            <!--<th>Edit / Delete</th>-->
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Start date</th>
                            <th style="width: 50px">Salary</th>
                            <!--<th>Edit / Delete</th>-->
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--<script src="/js/demo.js" type="text/javascript"></script>-->
        <script src="/js/jquery-1.12.4.js" type="text/javascript"></script>
        <!--<script src="/js/jquery.dataTables.js" type="text/javascript"></script>-->
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/dataTables.buttons.min.js" type="text/javascript"></script>
        <script src="/js/dataTables.editor.min.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript" class="init">
var editor; // use a global for the submit and return data rendering in the examples

$(document).ready(function () {
    $('#example').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "scripts/server_processing.php",

    });
});
        </script>
    </body>

</html>
